<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <h1>Hi {0}! Your order is:</h1>
    <h2><p style="font-weight: 800;">Total amount: &#36;{1}</p></h2>
    <table width="50%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
        <tr style="margin: 5px;">
            <td align="end" valign="middle" style="color:aqua">
                {2}
            </td>
        </tr>
        {3}        
    </table>
</body>

</html>