<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <center style="font-size: 20px; color: #61585e; margin-bottom: 5px;">Hi {0}! Your order is:</center>
    <center style="font-size: 40px; color: #1c1c1e; margin-bottom: 5px;">Total amount: &#36;{1}</center>
    <center>
        <table width="50%" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
            {3}
        </table>
    </center>
    <center style="font-size: 10px; color: #0e02f8; margin-top: 5px;">Order time {2}</center>
</body>

</html>