<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table width="50%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
        <tr>
            <td align="center">
                <p>Hi {0}! Your order is:</p>
            </td>
        </tr>
        <tr>
            <td align=" left" valign="middle">
                <img src="https://mypizzaweb20230412142952.azurewebsites.net/Images/4seasons.png" alt="img">
            </td>
            <td align=" left" valign="middle">
                Пицца
            </td>
            <td align=" left" valign="middle">
                2
            </td>
        </tr>
    </table>
</body>

</html>