.auth-signature-text {
    font-family: 'Open Sans',Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 13px;
    color: #999;
}

.auth-border {
    border-color:#999;
}

.cart-image {
    width: 80%;
}

.cart-product{
    margin-bottom:25px;
    font-size: 20px;
}

.cart-btn-add-delete {
    width:50px;
}

.order-confirmed-text {
    font-family: 'Edu NSW ACT Foundation', cursive;
    color:burlywood;
}

.navbar-brand {
    font-family: 'Molle', cursive;
    font-size: 48px;
    font-weight: 800;
    color: #ff6a00 !important;
}
.nav-link {
    font-family: 'Molle', cursive;
    font-size: 24px;
    font-weight: 400;
}