@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

@section Scripts {
    <script>
        function redirecttomainpage() {            
            window.location = "/Identity/Account/Login";
        }

        $(document).ready(function () {
            setInterval(redirecttomainpage, 5000);
        });
    </script>
}