@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="text-center">
        <img src="~/images/Error.jpg" width="30%">
    </div>
    <div class="text-center">
        <a class="btn btn-primary" asp-page="/ProductType/Index">Go to main page</a>
    </div>
</div>
