@page
@model MyPizza.Web.Pages.Order.OrderConfirmedModel
@{
}

<div class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-md-12 fw-bold fs-1 text-center order-confirmed-text">
            Thank you for your order!!!
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-12 fw-bold fs-1 text-center order-confirmed-text">
            We have sent you an order confirmation to your email.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img src="~/images/thankyou.jpg" width="100%">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/OrderConfirmed.js"></script>
}