@model CartComponentViewModel

@{
    ViewData["Title"] = "My Basket";
}

<a class="bg-primary" asp-page="/Cart/Index">
    <span class="position-relative badge rounded-pill bg-danger cart-product-count">
        @Model.ProductsCount
    </span>
    <i class="bi bi-cart fs-1 text-white-50"></i>
</a>