@model CartComponentViewModel

@{
    ViewData["Title"] = "My Basket";
}

<a class="btn btn-light" asp-page="/Cart/Index">
    <i class="bi bi-cart4"></i> 
    <span>
        @Model.ProductsCount
    </span>
</a>